body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NOTE TODO clean up/remove */
.RatingDisplay.rating-svg-circles .RatingDisplayStar {
  padding: 0 2.5px;
}
/* end "NOTE TODO clean up/remove" */

.ReactVirtualized__Table__rowColumn {
  display: flex;
  justify-content: center;
}
